.DS_Store
Thumbs.db
*.log

.vscode/
.idea/

# docker
**/data/
**/db_data/
**/mysql_data/
**/postgres_data/
**/wp_data/
**/vw-data/
**/mm_data/
**/html/

.env
*.key
*.crt
*.pem

# web
*.scss
*.css.map
node_modules/