theme: dark

server:
  address: tcp://:9091  # Port interne

log:
  level: info

jwt_secret: secret de bz
default_redirection_url: https://esir.komquest.cc

# Gestion sessions
session:
  name: authelia_session
  secret: 6226f764406fbc65ab8b336d28a85159851bd034073cfd6e2e7f58bd7af635e7
  expiration: 1h
  inactivity: 5m
  domain: komquest.cc

# storage
storage:
  encryption_key: nan nan nan!!
  local:
    path: /config/db.sqlite3

# auth
authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    # tlm peut voir la page d'auth
    - domain: "auth.komquest.cc"
      policy: bypass
    # mais faut un pwd pour voir le reste
    - domain: "*.komquest.cc"
      policy: one_factor

# Notifications (pour réinitialiser le mdp, on simule l'envoi dans un fichier)
notifier:
  filesystem:
    filename: /config/notification.txt